.page {
  min-height: 100vh;
}

.header {
  background: darkslateblue;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.content {
  margin-top: 64px;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.version {
  font-size: 1.2rem;
}

.lang {
  padding-left: 30px;
}

.footer {
  text-align: center;
}
